{
	"apiURL": "0.0.0.0",
	"apiPort": "3000",
	"apiProtocol": "http",
	"apps": [
		{ "name": "ART", "available": true },
		{ "name": "LOS", "available": true },
		{ "name": "CxCa", "available": true},
		{ "name": "OPD", "available": true }
	]
}
